<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
	lang="en">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
 <head th:replace="layout/layout :: head"></head>

  <body id="page-top">
	<header th:replace="layout/layout :: header"></header>
	
	<div id="wrapper">	    
	      <!-- Sidebar -->
	    <ul th:replace="layout/layout :: menuLateral"></ul>
	    
    	<div id="content-wrapper">
	        <div class="container-fluid">
  				<!-- DataTables Example -->
	        	<div class="card mb-3">
		            <div class="card-header">
		              <i class="fas fa-table"></i>
		            Consumo de Materiales</div>
		            <div class="card-body">
		              
		              
		             <div class="container">
		             
		      <div class="row">
		      
		      
		      <div class="col-xs-12 col-sm-6 col-md-6">
									<div class="form-group">

										<label>Material</label><select class="form-control"><option>Resina</option><option>Colorante</option><option>Aditivo</option></select>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6">
									<div class="form-group">

										<label>Desde</label><input type="date" class="form-control" />
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6">
									<div class="form-group">
											<label>Hasta</label> <input type="date" class="form-control" />
									</div>
								</div>
								
								
								
										<div class="col-xs-12 col-sm-6 col-md-6">
									<div class="form-group">

										
										
										<button class="form-control btn-primary">Generar</button>
																			</div>
								</div>
							</div>
		             
		             
		             
		             
		             
		             
		             
		             
		                   <div class="row">
								<div class="col-xs-12 col-sm-6 col-md-6">
									<div class="form-group">

										
										<button class="form-control btn-primary" > Imprimir</button>
										
																			</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6">
									<div class="form-group">
											<button class="form-control btn-primary" > Descargar</button>
															</div>
								</div>
							</div>
		             
		             
		             
		             
		             </div>
		              
		              
		              
		              						<table id="example"
							class="table table-striped table-bordered nowrap"
							style="width: 100%">
							<thead>
								<tr>
									<th>Material</th>
									<th>Tipo</th>
								
									<th>2018-09</th>
									<th>2018-10</th>
									<th>2018-11</th>
								<th>2018-12</th>	
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Resina</td>
									<td>Tipo</td>
									
									<td>

									
25
									</td>
									
									<td>

									
60
									</td>
									<td>

									
40
									</td>
												<td>

									
20
									</td>
								</tr>

								<tr>
									<td></td>
									<td>Stock Transito</td>
									
									<td>
30
									</td>

									<td>
20
									</td>


									<td>
10
									</td>


									<td>
20
									</td>

								</tr>
<tr>
									<td></td>
									<td>Consumo Proyectado</td>
									
									<td>


										30


									</td>
									
																		<td>
20
									</td>
																		<td>
10
									</td>
									<td>
20
									</td>
								</tr>


							</tbody>

						</table>
		
						
		            </div>
		            <div class="card-footer small text-muted">
		            
		            Stock=Stock+Stock en Transito (Llegada del mes anterior)</br>
		            Mes de llegada Planta</br>
		            Total=Stock-Proyectado
		            </div>
		          </div>
	        </div>
	        <!-- /.container-fluid -->
	      </div>
	      <!-- /.content-wrapper -->
	    </div>
	    <!-- /#wrapper -->
    <footer th:replace="layout/layout :: footer"></footer>
  </body>

</html>
