<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
<head th:replace="layout/layout :: head">


</head>

<style>
table, th, td {
	border: 1px solid black;
}
</style>

<body id="page-top">
	<header th:replace="layout/layout :: header"></header>

	<div id="wrapper">
		<!-- Sidebar -->
		<ul th:replace="layout/layout :: menuLateral"></ul>

		<div id="content-wrapper">
			<div class="container-fluid">
				<!-- DataTables Example -->
				<div class="card mb-3">
					<div class="card-header">
						<i class="fas fa-table"></i> Editar Proyección - Historica
					</div>
					<div class="card-body">
						Cliente - BACKUS &nbsp;  &nbsp; &nbsp;  &nbsp;   &nbsp; &nbsp; &nbsp; &nbsp;    &nbsp; &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp; Planta - ATE &nbsp; &nbsp; &nbsp;</br></br>

</br></br></br>


<div class="container">
<div class="row">







<div class="col-sm-6">
<table class="table table-bordered">
							<tr>
								<td>Producto      </td>
								<td>Guarana Zero 500 ml Pet15 Promo</td>
							</tr>
							<tr>
								<td>Observacion        </td>
								<td>Línea 7</td>
							</tr>
							
					
				
							
						
					
						</table>
						
						
						
						
						
						
						
						</br></br>
						
						
							<table class="table table-bordered">
							<tr>
								<td>Filial      </td>
								<td><input class="form-control" type="text"  value="Per" /></td>
							</tr>
							<tr>
								<td>Resp        </td>
								<td><input class="form-control" type="text"  value="PDJ" /></td>
							</tr>
							<tr>
								<td>Cliente         </td>
								<td><input class="form-control"  type="text" value="UNION DE CERVECERIAS PERUANAS BACKU" /></td>
							</tr>
							
								<tr>
								<td>Cli</td>
								<td><input class="form-control" type="text" value="AB InBev" /></td>
							</tr>
							
								<tr>
								<td>Loc/Exp</td>
								<td><input class="form-control" type="text" value="Loc Ate"  /></td>
							</tr>
							
								<tr>
								<td>Dest</td>
								<td><input type="text" value="Peru" class="form-control"/></td>
							</tr>
					
					
						<tr>
								<td>Sec</td>
								<td><input type="text" class="form-control"  value="Preforma"/>Preforma</td>
							</tr>
							
							
								<tr>
								<td>ml</td>
								<td>0</td>
							</tr>
							
								<tr>
								<td>Marca</td>
								<td>Preformas</td>
							</tr>
							
							
							<tr>
								<td>Gr</td>
								<td>17.7</td>
							</tr>
							
							
							<tr>
								<td>Tipo</td>
								<td>1881</td>
							</tr>
							
							
							<tr>
								<td>Color</td>
								<td>Cristal</td>
							</tr>
							
							
							<tr>
								<td>%Rcd</td>
								<td>10</td>
							</tr>
							
							
							<tr>
								<td>CP</td>
								<td>CP</td>
							</tr>
							
							<tr>
								<td>Caja</td>
								<td>M</td>
							</tr>
							
							<tr>
								<td>Resina</td>
								<td>CSD</td>
							</tr>
						</table>
						
</div>

</br></br>










<div class="col-sm-14">
<input type="radio"/><label>Fecha de despacho</label>

						<table class="table table-bordered">
							<tr>
								<td>Meses :    </td>
								<td><select>
								<option>4</option>
								<option></option></select></td>
								
								<td>Fecha Embarque</td>
							</tr>
							<tr>
								<td>2018-09        </td>
								<td>1,431</td>
								
								<td>20/09/2018</td>
							</tr>
							<tr>
								<td>2018-10         </td>
								<td>2,220</td>
								<td>20/10/2018</td>
							</tr>
							
								<tr>
								<td>2018-11</td>
								<td>1,478</td>
								<td>20/11/2018</td>
							</tr>
							
								<tr>
								<td>2018-12</td>
								<td>4,143</td>
								<td>20/12/2018</td>
							</tr>
							
								
						</table>
						
						
						</br></br>
	
	
	
	
	<div class="col-md-10" style="text-align:center">
    <button id="button1id" name="button1id" class="btn btn-success btn-lg btn-block" style="display:block; margin-bottom:5px">
    
    
    <span class="glyphicon glyphicon-ok"></span>
    GUARDAR</button>

    <button id="button2id" name="button2id" class="btn btn-danger btn-lg btn-block" style="display:block; margin-bottom:5px">CANCELAR</button>
       </div>
		
			
				</div>		
	
</div>

</div>

					</br></br>
	

					</div>
					<div class="card-footer small text-muted"></div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content-wrapper -->
	</div>
	<!-- /#wrapper -->




	<footer th:replace="layout/layout :: footer"></footer>




</body>

</html>
