<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
<head th:replace="layout/layout :: head">


</head>

<style>
table, th, td {
	border: 1px solid black;
}
</style>

<body id="page-top">
	<header th:replace="layout/layout :: header"></header>

	<div id="wrapper">
		<!-- Sidebar -->
		<ul th:replace="layout/layout :: menuLateral"></ul>

		<div id="content-wrapper">
			<div class="container-fluid">
				<!-- DataTables Example -->
				<div class="card mb-3">
					<div class="card-header">
						<i class="fas fa-table"></i> Registrar Proyección - Editar
					</div>
					<div class="card-body">
						
						
						<div class="container">
					Cliente - BACKUS &nbsp;  &nbsp; &nbsp;  &nbsp;   &nbsp; &nbsp; &nbsp; &nbsp;    &nbsp; &nbsp;  &nbsp;   &nbsp;   &nbsp;  &nbsp; Planta - ATE &nbsp; &nbsp; &nbsp;</br></br>

 &nbsp; &nbsp; &nbsp; Archivo Cargado :<input   type="file" class="form-control"   />
</div>
</br></br></br>
<div class="row">






<div class="col-sm-8">

<table class="table table-bordered">
							<tr>
								<td>Producto      </td>
								<td>Guarana Zero 500 ml Pet15 Promo</td>
							</tr>
							<tr>
								<td>Observacion        </td>
								<td>Línea 7</td>
							</tr>
						</table>
						
						
						</br></br>
						
						
						
						<table class="table table-bordered">
							<tr>
								<td>Filial      </td>
								<td>Per</td>
							</tr>
							<tr>
								<td>Resp        </td>
								<td>PDJ</td>
							</tr>
							<tr>
								<td>Cliente         </td>
								<td>UNION DE CERVECERIAS PERUANAS BACKU</td>
							</tr>
							
								<tr>
								<td>Cli</td>
								<td>AB Inbev</td>
							</tr>
							
								<tr>
								<td>Loc/Exp</td>
								<td>Loc Ate</td>
							</tr>
							
								<tr>
								<td>Dest</td>
								<td>Per</td>
							</tr>
					
					
						<tr>
								<td>Sec</td>
								<td>Pref</td>
							</tr>
							
							
								<tr>
								<td>ml</td>
								<td></td>
							</tr>
							
								<tr>
								<td>Marca</td>
								<td>Preformas</td>
							</tr>
							
							
							<tr>
								<td>Gr</td>
								<td></td>
							</tr>
							
							
							<tr>
								<td>Tipo</td>
								<td></td>
							</tr>
							
							
							<tr>
								<td>Color</td>
								<td>Cristal</td>
							</tr>
							
							
							<tr>
								<td>%Rcd</td>
								<td></td>
							</tr>
							
							
							<tr>
								<td>CP</td>
								<td>CP</td>
							</tr>
							
							<tr>
								<td>Caja</td>
								<td>M</td>
							</tr>
							
							<tr>
								<td>Resina</td>
								<td>CSD</td>
							</tr>
						</table>
</div>

</br></br>







<div class="col-sm-22">

						<table class="table table-bordered">
							
							<tr>
								<td>Mes_1        </td>
								<td>1,431</td>
							</tr>
							<tr>
								<td>Mes_2         </td>
								<td>2,220</td>
							</tr>
							
								<tr>
								<td>Mes_3</td>
								<td>1,478</td>
							</tr>
							
								<tr>
								<td>Mes_4</td>
								<td>4,143</td>
							</tr>
							
								
						</table>
						
						
						</br></br>
						
						
						 <div class="col-md-12" style="text-align:center">
    <button id="button1id" name="button1id" class="btn btn-success btn-lg btn-block" style="display:block; margin-bottom:5px">GUARDAR</button>

    <button id="button2id" name="button2id" class="btn btn-danger btn-lg btn-block" style="display:block; margin-bottom:5px">CANCELAR</button>
       </div>
		
						
						
			</div>
						
	
</div>

</div>

					
						 
					</div>
					<div class="card-footer small text-muted"></div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content-wrapper -->
	</div>
	<!-- /#wrapper -->




	<footer th:replace="layout/layout :: footer"></footer>




</body>

</html>
