<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
	lang="en">
	
 <head th:replace="layout/layout :: head"></head>

  <body id="page-top">
	<header th:replace="layout/layout :: header"></header>
	
	<div id="wrapper">	    
	      <!-- Sidebar -->
	    <ul th:replace="layout/layout :: menuLateral"></ul>
	    
    	<div id="content-wrapper">
	        <div class="container-fluid">
  				<!-- DataTables Example -->
	        	<div class="card mb-3">
		            <div class="card-header">
		              <i class="fas fa-table"></i>
		              Reporte de Avance de Detalle SKU</div>
		            <div class="card-body">
		              
		              
		              
		              	<div class="row">
								<div class="col-xs-12 col-sm-6 col-md-6">
									<div class="form-group">

										<label>Cliente </label> <select class="form-control">
											<option>BACKUS-ATE</option>
											<option></option>
											<option></option>
										</select>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6">
									<div class="form-group">
											<label>Planta </label>
											
										<input class="form-control" type="text"   />	
											
											
									</div>
								</div>
							</div>
		              
		              <label>Desde :</label><input   class="form-control" type="date" />
		              
		              
		              <label>Hasta :</label><input   class="form-control" type="date" />
		              
		              
		              
		              
		              
		              
		              
		              
		              
		              
		              
		              
		              
		              
		              
		              
		              
		              
		              
		              
		              
		              
		              
		              
		              
		              
		              
		              
		              
		              
		              
		              
		        </br></br> </br></br>  
		        
		        
		        <font >
		        SKU :  17.7 1881 Cristal 0 10 CP M CSD
		        </font>
		            
		           	<table id="example"
							class="table table-striped table-bordered nowrap"
							style="position:right;width:10%px">
							<thead>
								
								<tr>
								<th colspan="5"></th>
								
								<th colspan="3">2018-10</th>
								
								
								
								</tr>
								
								
								<tr>
									<th>Cliente</th>
									<th>Planta</th>
									<th>2018-07</th>
									<th>2018-08</th>
									<th>2018-09</th>
									<th>Proyectado</th>
									<th>Avance</th>
									<th>Stock</th>
									<th>2018-11</th>
									<th>2018-12</th>
									<th>2019-01</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>AB InBev</td>
									<td>Loc Ate</td>
									<td>30</td>
								
									<td>
30
									</td>
											
									<td>
30
									</td>
											
									<td>
30
									</td>
											
									<td>
10
									</td>
											
									<td>
150
									</td>
											
									<td>
245
									</td>
											
									<td>
240
									</td>
											
									<td>
240
									</td>
								</tr>

								<tr>
									<td>AB Inbev</td>
									<td>Loc Hrch</td>
									<td>50</td>
								
									<td>
50
									</td>
											
									<td>
50
									</td>
											
									<td>
50
									</td>
											
									<td>
5
									</td>
											
									<td>
150
									</td>
											
									<td>
245
									</td>
											
									<td>
240
									</td>
											
									<td>
240
									</td>
								</tr>
<tr>
									<td>Arca </td>
									<td>Loc Puc IH</td>
									<td>10</td>
								
									<td>
10
									</td>
											
									<td>
10
									</td>
											
									<td>
10
									</td>
											
									<td>
5
									</td>
											
									<td>
150
									</td>
											
									<td>
245
									</td>
											
									<td>
240
									</td>
											
									<td>
240
									</td>
								</tr>


							</tbody>

						</table>
		              
		              
		              
		              
		              
		              
		              
		              
		              
		              
		              
		              
		              
		              
		              
		              
		              
		              
		            </div>
		            <div class="card-footer small text-muted">  </div>
		          </div>
	        </div>
	        <!-- /.container-fluid -->
	      </div>
	      <!-- /.content-wrapper -->
	    </div>
	    <!-- /#wrapper -->
    <footer th:replace="layout/layout :: footer"></footer>
 
<script>
	$(document).ready(function() {
		var table = $('#example').DataTable({
			responsive : true,
			"scrollX" : true
		});

		new $.fn.dataTable.FixedHeader(table);
	});
</script>	
  </body>

</html>
