<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header"></div>
			<div class="card-body">
				<h2>Bienvenidos al Sistema de Control de Tickets del Cine Ritz</h2>
				<h4>Inicie sesión para continuar.</h4>	
				<a th:href="@{/}" class="btn btn-outline-light" role="button">Ir
					al inicio</a>
			</div>
		</div>		
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
	
</body>
</html>