<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
<script type="text/javascript">	
	function generaTicket(){
		var getUrl = window.location;
		var baseUrl = getUrl .protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1];
		$("#divPDF").load(baseUrl+"/genera");
		document.getElementById("divPDF").style.display  = "block";
	};

	function imprSelecDivT(divTicket){
		  var ficha=document.getElementById(divTicket);
		  var ventimp=window.open(' ','popimpr');
		  ventimp.document.write(ficha.innerHTML);
		  ventimp.document.close();
		  ventimp.print();
		  ventimp.close();
		  //window.location.replace("/ticket/inicio");
		  document.getElementById("divPDF").style.display  = "none";
	}
	function generaTicketPDF(){
		var getUrl = window.location;
		var baseUrl = getUrl .protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1];
		$("#divPDF").load(baseUrl+"/genera/?format=pdf");		
	};
</script>

	<header th:replace="layout/layout :: header"></header>	
	<div class="container py-4">
		<h1 th:text="'Generar Ticket'"></h1>
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}">				
			</div>
			<div class="card-body">
				<h4>
					<a class="btn btn-primary btn-xs"
						th:href="@{'/ticket/genera/'}"
						th:text="'Genera Ticket WEB'"											
						></a>
				</h4>
				<div class="row-sm-8">
					<form th:action="@{/ticket/inicioUser}" method="post">
						<input name="userSelect" id="userSelect" type="hidden" />
						<div class="col-sm-4">
							<select class="custom-select" id="inputSelectUser" name="inputSelectUser">
							<option selected> Seleccione Cajero </option>
							<option th:each ="cajero : ${lisCajeros}" th:value="${cajero.id}" th:text="${cajero.nombres} +' ' + ${cajero.apellidos}" ></option>
							</select>
						</div>
												
						<div class="col-sm-2" id="divCajero" style="display: none;">
						    <input type="submit" th:value="'Mostrar Tickets'" class="btn btn-warning" />
						</div>
					</form>
				</div>
				
				<div class="row-sm-8">
					<h4>
						<a class="btn btn-primary btn-xs"
							th:href="@{'/ticket/reporteParcial/'}"
							th:text="'Genera Corte Parcial'"											
						></a>
					</h4>
				</div>
				
				<div  id="divPDF" class="col" th:if="${#strings.length(byteArrayCodBarra) > 0}">
					<div id="opcImprime">
						<a class="btn btn-success btn-xs" 
								href="javascript:imprSelecDivT('divPDF')" >Imprime Ticket</a>
					</div>
					<div id="divTicket">
						<div><strong th:text="${ticket.getTarifa().getLocal().getNombre()}"></strong></div>
						<div><span th:text=${ticket.getTarifa().getLocal().getRasonSocial()}></span></div>
						<div><span th:text="${ticket.getTarifa().getLocal().getDireccionEmpresa()} + ' RUC:'+${ticket.getTarifa().getLocal().getRuc()}"></span></div>
						<div><span th:text="${ticket.getTarifa().getLocal().getDireccionLocal()}"></span></div>
						<div><span th:text="${ticket.getTarifa().getLocal().getDistrito()}"></span></div>
						<div><span th:text="'Fecha:' + ${ticket.getDia()}"></span></div>
						<div><span th:text="'Hora :' + ${ticket.getHora()}"></span></div>
						<div><span th:text="'Boleta de Ingreso: ' + ${ticket.codigoBarra}"></span></div>
						<div><span th:text="'Ticket Número: ' + ${contadorTicket}"></span></div>
						<div>						
							<table  style="border-style: solid; width: 80%;">
								<tr>					
									<td th:text="Descripción"></td>
									<td th:text="Cantidad"></td>
									<td th:text="Importe"></td>
								</tr>
								<tr>
									<td th:text="Boleto"></td>
									<td th:text="1"></td>
									<td th:text="${ticket.getTarifa().getPrecio().toString()}"></td>
								</tr>
								<tr>
									<td th:text="Total"></td>
									<td th:text="''"></td>
									<td th:text="${ticket.getTarifa().getPrecio().toString()}"></td>
								</tr>
							</table>
						</div>				
						<div><span th:text="'Reclamar su comprobante de pago al salir del Establecimiento. Gracias por su preferencia.'"></span></div>
						<div><span th:text="'Boleta de Ingreso'"></span></div>
						<div>							
							<span> 
								<img class="img-responsive" 
									 style="max-width: 100%;" 
									 th:src="'data:image/png;charset=utf-8;base64,' + ${byteArrayCodBarra}" 
									 th:alt="''" />
							</span>
							<strong th:text="${contadorTicket}" style="font-size: 34px; border: solid;" ></strong>
						</div>
					</div>										
				</div>
				<div id="Tabla" class="col" > 				
					<table class="table table-striped table-bordered" id="tabTickets">
						<thead>
							<tr>
								<th>Ticket</th>
								<th>Dia</th>
								<th>Hora</th>
								<th>Estado</th>								
								<th>Cancelar</th>								
							</tr>
						</thead>
						<tbody>
							<tr th:each="ticket: ${lisTicket}">
								<td th:text="${ticket.codigoBarra}"></td>
								<td th:text="${ticket.getDia()}"></td>
								<td th:text="${ticket.getHora()}"></td>
								<td th:text="${ticket.getEstadoText()}"></td>								
								<td>
									<a  th:if="${ticket.canCalcel()}"  class="btn btn-danger btn-xs"
									th:href="@{'/ticket/cancela/' + ${ticket.codigoBarra}}"
									th:text="'Cancela Ticket'"></a>
								</td>
							</tr>
						</tbody>
					</table>				
				</div>
						
					
			</div>
			
						
<!-- 						style="display: none;" -->
			
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
	<script type="text/javascript" th:fragment="javascript">
		$(document).ready(function() {
			$('#tabTickets').DataTable();
		} );
	
		$("#inputSelectUser").change(function(){
			var op = $("#inputSelectUser option:selected").val();
			$('#userSelect').val(op);
			 document.getElementById("divCajero").style.display  = "block";
		});
		
	</script>
	
</body>
</html>